name: Entur/Helm/UnitTest

on:
  workflow_call:
    inputs:
      chart:
        description: "The chart, defaults to `helm/$repository_name`"
        type: string
        default: "default"
      timeout_minutes:
        description: "Job timeout in minutes"
        type: number
        default: 3
env:
  GHA_HELM_LINT_CHART: ${{ inputs.chart }}
jobs:
  helm-unittest:
    runs-on: ubuntu-24.04
    timeout-minutes: ${{ inputs.timeout_minutes }}
    name: Helm UnitTest
    permissions:
      contents: read
      id-token: write
      pull-requests: read
    steps:
      - id: set-chart-name
        shell: bash
        if: env.GHA_HELM_LINT_CHART == 'default'
        run: |
          echo "GHA_HELM_LINT_CHART=helm/${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
      - uses: actions/checkout@v6
      - id: install
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "v3.19.2"
      - id: install-unittest
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest.git --version=v0.5.1
      - id: lint
        shell: bash
        run: |
          helm unittest $GHA_HELM_LINT_CHART
